// app/layout.styl

@import '../_variables'
@import '../_mixins'
@import 'footer'

@import '../game/main'

// your styles here:
html,body
    margin: 0
    padding: 0
    width: 100%
    height: 100%

body
    background: white
    box-sizing: border-box;
    *
        box-sizing: border-box;
      

cummulative-header-height = 72px;

.container
    height: 100%
    margin: -(cummulative-header-height) auto 0
    padding-top: cummulative-header-height
    text-align: center
    .page-container
        height: 100%