section.page.home
  h2= "Tic Tac Toe"
  br
  table.ttt-field(border=1)
    tr
      td.ttt-tile= 11
      td.ttt-tile= 12
      td.ttt-tile= 13
    tr
      td.ttt-tile= 21
      td.ttt-tile= 22
      td.ttt-tile= 23
    tr
      td.ttt-tile= 31
      td.ttt-tile= 32
      td.ttt-tile= 33