div
    //- h4 Enter Players Names
    form(data-hook="game-players")
        fieldset
            legend Enter Players Names
            div(data-hook="field-container")
            .buttons
                button.btn(data-hook="reset", type="submit") Play