div.ttt-leaderboard
    //- h2= "Leaderboard"
    ul
        li.result.list-group-item
            div.ttt-leaderboard-header.ttt-leaderboard-name Winner
            div.ttt-leaderboard-header.ttt-leaderboard-sign Played With
    ul(data-hook="results-list")