tile-size = 8em
.ttt-tile
    width: tile-size
    height: tile-size
    padding: 5px
    text-align: center
    line-height: 1
    display: table-cell
    background-color: #F2F2F2
    &.ttt-played
        background-color: transparent
    &:before
        line-height: 1;
        font-size: 6em