[data-hook="game-players"]
    label
        display: block
        margin-bottom: 10px
    .form-input
        margin-bottom: 0
    legend
        border: 0
        font-size: 1em
        font-weight: bold
        margin-bottom: 10px