.ttt-leaderboard-container
    overflow: hidden
    overflow-y: auto
    ul
        margin-left: 0
    .ttt-leaderboard-header, .ttt-leaderboard-cell
        display: inline-block
        text-align: center
        width: 50%
        &.ttt-leaderboard-sign
            font-family: FontAwesome
    .ttt-leaderboard-header
        font-weight: bold